{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="media border p-3">
    <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s profile Pic" class="mr-3 mt-3 rounded-circle"
         style="width:60px;">
    <div class="media-body">
        <div>
            <span class="h3">{{ user.username }}</span>
            <br>
            <span class="small text-muted">{{ user.email }}</span>
        </div>
    </div>
</div>

<div class="media border p-3 mt-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Profile</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Update Profile</button>
        </div>
    </form>
</div>
{% endblock content %}